<form #f="ngForm" (ngSubmit)="submit(f)">
    <div ngModelGroup="contact" #contact="ngModelGroup">
      
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input 
                required 
                minlength="3" 
                maxlength="10" 
                pattern="banana" 
                ngModel 
                name="firstName" 
                #firstName="ngModel" 
                (change)="log(firstName)" 
                type="text" 
                class="form-control" />
            <div 
                class="alert alert-danger" 
                *ngIf="!firstName.valid && firstName.touched">
                <div *ngIf="firstName.errors.required">
                    First name is required.
                </div>
                <div *ngIf="firstName.errors.minlength">
                    Minimum length is {{ firstName.errors.minlength.requiredLength }}.
                </div>
                <div *ngIf="firstName.errors.maxlength">
                    Maximum length is 10.
                </div>
                <div *ngIf="firstName.errors.pattern">
                    Does not match required pattern.
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="Comment">Comment</label>
        <textarea class="form-control" name="comment" ngModel #comment="ngModel"  cols="30" rows="10"></textarea>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ngModel name="isSubscribed">Subscribe to mailing list
        </label>
    </div>    
    <div class="form-group">
        <label for="contactMethod">Contact Method</label>
        <select name="" multiple ngModel name="contactMethod" id="contactMethod" class="form-control">
            <option value=""></option>
            <option value="" *ngFor="let method of contactMethods" [value]="method.id">{{ method.name }}</option>
        </select>
    </div>
    <div class="radio" *ngFor="let method of contactMethods">
        <label>
            <input type="radio" ngModel [value]="method.id"  name="contactMethod">
            {{ method.name }}
        </label>
    </div>
    <p>
        {{ f.value | json}}
    </p>   
    <button [disabled]="!f.valid" class="btn btn-primary">Submit</button>
</form>